    <header class="header">
        <h1 class="header-heading">
            <a href="{% url 'contatos:index' %}" class="header-link">
                Agenda
            </a>
        </h1>

        <nav class="menu">
            <ul class="menu-list">
                {% if user.is_authenticated %}
                    <li class="menu-item">
                        <a href="{% url "contatos:create" %}" class="menu-link">
                            Criar Contato
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url "contatos:update_user" %}" class="menu-link">
                            Atualizar Usuário
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url "contatos:logout" %}" class="menu-link">
                            Sair
                        </a>
                    </li>
                {% else %}
                    <li class="menu-item">
                        <a href="{% url "contatos:login" %}" class="menu-link">
                            Entrar
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url "contatos:register" %}" class="menu-link">
                            Registrar
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>

        <div class="search">
            {% if user.is_authenticated %}
                <form 
                    action="{% url 'contatos:pesquisa' %}" 
                    method="GET">
                    <input 
                        type="search" 
                        class="search-input"
                        placeholder="Search"
                        id="search"
                        name="q" 
                        value= "{{ request.GET.q }}"
                    >
                </form>
            {% endif %}
        </div>
    </header>